*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: pink; 
    font-family: Arial, Helvetica, sans-serif;  
}

main{
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: 2fr 1fr 4fr 2fr 1fr;*/
    /*grid-template-rows: 100px 45px 300px 50px 100px;*/
    grid-template-rows: 20% 5% 40% 15% 20%;
    min-height: 100vh;
    min-width: 100vw;

}
/*Adorno encima del encabezado*/
.B1{
    color:transparent;
    text-align:center;
    background-color: rgb(61, 55, 55);
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 10px;
    transition: width 10s;
}
    .B1:hover{
        color: pink;
        font-size: 80px;
        align-self: center;
        padding-top: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }


/*Este codigo corresponde al encabezado*/
.encabezado{
    background-color:rgb(207, 235, 235);
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 1fr 1fr 3fr ;
    grid-template-rows: auto;
}
    .encabezado a{
        text-decoration: none;
        /*font-size: 25px;*/
    }
h3{
    grid-area: 2/3/1/2;
    font-size: 14px;   
}
h5{
    grid-column: 2/3;
    grid-row: 2/3;
    font-style: italic;
}

/*Aquí termina la sección encabezado*/

/*Aqui inicia la sección cuerpo*/
.cuerpo{
    height: 100%;
    background-color:rgb(220, 243, 243) ;
    display: grid;
    grid-template-columns: 1fr 1fr 10% 10% 10% 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr;    
}
.itemimagen{
    /*background-color: blue;*/
    grid-column: 2/3;
    grid-row: 1/5;
    align-self: stretch;   
}
    .itemimagen img{
        width: 100%;
        border-radius:80%;
        margin-top: 15px;
        /*cursor: pointer;*/
        box-shadow: 5px 10px 15px rgb(100, 182, 230);
    }
.itemhola{
    /*background-color: blueviolet;*/
    grid-column: 3/6;
    font-size: 60px;  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.itemalgo{
    /*background-color: brown;*/
    grid-column: 3/6;
    grid-row: 2/3;
    font-size: 25px;    
}    
.itemcv{
    background-color: rgb(64, 224, 245);
    grid-column: 3/4;
    grid-row: 3/4;
    border-radius: 100%;
}
    .itemcv p{
       margin-top: 50px;
       text-align: center;
       font-weight: bold;
    }
.itemtrabajo{
    background-color: aquamarine;
    grid-column: 4/5;
    grid-row: 3/4;
    border-radius: 100%;
    margin: 5%;  
}
    .itemtrabajo p{
        margin-top: 40px;
        text-align: center;
        font-weight: bold;
    }
.itemhabilidades{
    background-color: darkkhaki;
    grid-column: 5/6;
    grid-row: 3/4;
    border-radius: 100%;
    margin: 10px; 
}
    .itemhabilidades p{
        text-align: center;
        margin-top: 40px;
        font-weight: bold;
    }
.descripcion{
    grid-column: 3/6;
    grid-row: 4/5;
}
/*Termina sección Cuerpo*/

.pie{
    background-color: rgb(60, 60, 248);
    height: 100%;
}

/*Adorno debajo de foother*/
.B2{
    height: 100%;
    color: white;
    background-color: rgb(61, 55, 55);
}