body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
    min-width: 100vw;
    min-height: 100vh;
}

.personal{
    display: grid;
    grid-template-rows: 18% 82%;
}
.encabezado{
    background-color: rgb(2, 32, 53);
}
.encabezado img{
    width: 180px;
    margin-top: 7%;
    padding-left: 10%;
    position: absolute;
    border-radius: 50%;
}
.encabezado a strong{
    text-decoration: none;
    color: white;
}
.encabezado strong{
   padding: 30px;
   position: absolute;
}

.cuerpo{
    display: grid;
    grid-template-rows: 25% 23% 20% 32%;
    grid-template-columns: 1fr;
    background-color: rgb(109, 107, 107);
}
.contacto{
    display: block;
    align-self: end;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 3px solid rgb(255, 255, 255);
    color: white;
    font-weight: 1000;
}
    .contacto img{
     width: 15px;    
    }
    .fcontacto{
        display: inline;
        margin-top: 50px;
    }
    .mail{
        font-size: 12px;
    }

.aptitudes{
    color: white;
    border-bottom: 3px solid white;
    margin-left: 10%;
    margin-right: 10%;
}
    

.vehiculo{
    color: white;
    border-bottom: 3px solid white;
    margin-left: 10%;
    margin-right: 10%;
}

    .vehiculo h5{
        margin-top: -10px;
        padding-top: 0%;
    }

.licencia{
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

/*SECCION DE INFORMACION LABORAL*/
.datos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 20% 45% 20%;
}

.nombre{
    border-bottom: 3px solid rgb(6, 72, 212);
    text-align: left;
    align-self: end;
    margin-left: 1px;
    margin-right: 40px;
}
    .nombre h1{
        padding: 0;
        margin: 10px;
        font-weight: bold;
        font-size: 45px;
    }

.resumen{
    border-bottom: 3px solid rgb(6, 72, 212);
    margin-right: 40px;
}
    .resumen h3{
        padding-top: 1px;
        margin-top: 2px;
        color: rgb(6, 72, 212);
    }
    .resumen p{
        text-align: justify;
        font-size: 14px;
        font-weight: 545;
        margin-top: -5px;
    }

.historial{
    border-bottom: 3px solid rgb(6, 72, 212);
    margin-right: 40px;
}
    .historial h3{
        color: rgb(6, 72, 212);
        padding-top: 1px;
        margin-top: 2px;
    }
    .historial h5{
        margin-top: -10px;
    }
    .historial h4{
        margin-top: -15px;
    }

.formacion{
    
}
    .formacion h3{
        padding-top: 1px;
        margin-top: 2px;
        color: rgb(6, 72, 212);
    }
    .formacion h4{
        margin-bottom: -12px;
    }


/*
main .personal{
    height: 20%;
    background-color: rgb(3, 39, 87);
}

.perfil{
    display: flex;
    justify-content: center;
    position: relative;
}
.perfil img{
    width: 150px;
    margin: 80px;
}

.personal .contacto{
    background-color:gray;
    width: 100%;
    height: 100%;
}

main .datos{
border: 1px solid black;
}*/