*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: pink; 
    font-family: Arial, Helvetica, sans-serif;  
}

main{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: 2fr 1fr 4fr 2fr 1fr;*/
    /*grid-template-rows: 100px 45px 300px 50px 100px;*/
    grid-template-rows: 15% 14% 46% 10% 15%;
}
/*Adorno encima del encabezado*/
.B1{
    background-color: rgb(34, 33, 33);
    /*color:transparent;
    text-align:center;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 10px;
}
    .B1:hover{
        color: pink;
        font-size: 45px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 100%;*/
    }


/*Este codigo corresponde al encabezado*/
.encabezado{
    background-color:rgb(207, 235, 235);
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 1fr 1fr 3fr ;
    grid-template-rows: 2fr 1fr;
}
    .encabezado a, h4{
        text-decoration: none;
        padding-bottom: 5px;
        /*font-size: 25px;*/
    }
h3{
    grid-area: 2/3/1/2;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-top: 15px;
    padding-left: 15px;
    width: 380px;
    background-color: bisque;
}
.encabezado div h5{
   font-style: italic;
   font-size: 55;
   font-weight: bold;
   padding-left: 15px;
   padding-bottom: 10px;
   
   background-color: bisque;
}
.encabezado div{
    background-color: black;
    width: 380px;
}
    .encabezado a:hover{
        background-color: blue;
        color: white;
        border-radius:20px;
        padding: 2px;
    }
    .encabezado a:visited{
        color: black;
    }

    .encabezado a{
        width: 80px;
        text-align: center;
    }
/*Aquí termina la sección encabezado*/

/*Aqui inicia la sección cuerpo*/
.cuerpo{
    height: 100%;
    background-color:rgb(220, 243, 243) ;
    display: grid;
    grid-template-columns: 1fr 1fr 10% 10% 10% 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr;    
}
.itemimagen{
    grid-column: 2/3;
    grid-row: 1/5; 
    margin-top: 30px;    
}
    .itemimagen img{
        width: 90%;        
        box-shadow: 5px 10px 15px rgb(14, 82, 160);
        transition: 1s;
    }
    .itemimagen img:hover{
        width: 120%;
        position: relative;
    }
.itemhola{
    grid-column: 3/6;
    font-size: 50px;  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.itemalgo{
    grid-column: 3/6;
    grid-row: 2/3;
    font-size: 20px;  
    font-style: italic;  
} 

.itemcv{
    background-color: rgb(64, 224, 245);
    grid-column: 3/4;
    grid-row: 3/4;
    border-radius: 50%;
    width: 90%;
    text-align: center;
    box-shadow: -3px 0 10px rgba(14, 82, 160), -4px 0 10px rgba(14, 82, 160), -5px 0 10px rgba(14, 82, 160);
    transform: all 0.3s ease;
}
    .itemcv p{
        font-weight: bold;
        padding-top:30%;
        font-size: 25px;        
    }
    .itemcv a{
        text-decoration: none;
        color: black;
    }
    .itemcv:hover{
        margin-right: 80px;
        transform: rotate(10deg) translateY(-25px);
    }

.itemtrabajo{
    background-color: aquamarine;
    grid-column: 4/5;
    grid-row: 3/4;
    border-radius: 45%;
    width: 90%;
    text-align: center;
    box-shadow: -3px 0 10px rgba(14, 82, 160), -4px 0 10px rgba(14, 82, 160), -5px 0 10px rgba(14, 82, 160);
    transform: all 0.3s ease;
}
    .itemtrabajo p{
        font-weight: bold;
        padding-top:30%;
        font-size: 20px;
    }
    .itemtrabajo a{
        text-decoration: none;
        color: black;
    }
    .itemtrabajo:hover{
        margin-right: 80px;
        transform: rotate(10deg) translateY(-25px);
    }

.itemhabilidades{
    background-color: darkkhaki;
    grid-column: 5/6;
    grid-row: 3/4;
    border-radius: 50%;
    width: 90%;
    text-align: center;
    transform: all 0.3s ease;
    box-shadow: -3px 0 10px rgba(14, 82, 160), -4px 0 10px rgba(14, 82, 160), -5px 0 10px rgba(14, 82, 160);
    transform: all 0.3s ease;
}
    .itemhabilidades p{
        font-weight: bold;
        padding-top:15%;
        font-size: 18px;
    }
    .itemhabilidades a{
        text-decoration: none;
        color: black;
    }
    .itemhabilidades:hover{
        margin-right: 80px;
        transform: rotate(10deg) translateY(-25px);
    }

.descripcion{
    grid-column: 3/6;
    grid-row: 4/5; 
    padding-top: 15px;   
}
    .descripcion:hover{
        box-shadow: 1px 0px 3px 3px white;
        border-radius: 30%;
    }
    .descripcion p{
        text-align: justify;
        font-size: 10px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;
        font-weight: 550;
        background-color: rgb(209, 252, 252);
        border-radius: 20%;
        padding: 15px;
    }
/*Termina sección Cuerpo*/

.pie{
    background-color: rgb(190, 36, 152);
    height: 100%;
    display: grid;
    grid-template-columns: 2fr repeat(6, 1fr) 2fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.iconof img{
    width: 35px;
    transition: 800ms;
}
    .iconof img:hover{
        width: 55px;
        cursor: pointer;
    }
.iconog img{
    width: 35px;
    transition: 800ms;
}
    .iconog img:hover{
        width: 55px;
        cursor: pointer;
    }
.iconot img{
    width: 35px;
    transition: 800ms;
}
.iconot img:hover{
    width: 55px;
    cursor: pointer;
}
.iconoi img{
    width: 35px;
    transition: 800ms;
}
    .iconoi img:hover{
        width: 55px;
        cursor: pointer;
    }
.iconotk img{
    width: 35px;
    transition: 800ms;
}
    .iconotk img:hover{
        width: 55px;
        cursor: pointer;
    }
.iconow img{
    width: 35px;
    transition: 800ms;
}
    .iconow img:hover{
        width: 55px;
        cursor: pointer;
    }
/*Adorno debajo de foother*/
.B2{
    height: 100%;
    color: white;
    background-color: rgb(34, 33, 33);
}

/*Responsive pantalla mediana*//*
@media screen and (max-width: 1150px){
    .itemhabilidades p{
        font-size: 15px;
    }
}
*/
@media screen and (max-width: 1100px){
    .itemcv{
        width: 100px;
        height: 100px;
    }
        .itemcv p{
            font-size: 12;
        }
    
    .itemtrabajo{
        width: 100px;
        height: 100px;
    }
        .itemtrabajo p{
            font-size: 18px;
        }

    .itemhabilidades{
        width: 100px;
        height: 100px;
    }
        .itemhabilidades p{
            font-size: 15px;
        }
}

@media screen and (max-width: 750px) {
    .itemcv{
        width: 65px;
        height: 65px;
    }
        .itemcv p{
            font-size: 15px;
        }
    
    .itemtrabajo{
        width: 65px;
        height: 65px;
    }
        .itemtrabajo p{
            font-size: 12px;
        }

    .itemhabilidades{
        width: 65px;
        height: 65px;
    }
        .itemhabilidades p{
            font-size: 11px;
        }
}

@media screen and (max-width:400px){
    body{
        width: 100%;
        height: 100%;
    }
}